---
import MainLayout from "./MainLayout.astro";
import Comic from "../components/Comic.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <Comic
    title={frontmatter.title}
    publishDate={frontmatter.publishDate}
    url={frontmatter.image.url}
    alt={frontmatter.image.alt}
    description={frontmatter.description}
  />
  <section class='blog-section'>
    <hr />
    <div class='blog-container'>
      <div class='avatar-and-date'>
        <div class='avatar'></div>
        <span class='posted-date'>Posted: 01/27/2023</span>
      </div>
      <div class='blog-content'>
        <slot />
      </div>
    </div>
    <hr />
  </section>
</MainLayout>

<style lang='scss'>
  $containerWidth: 600px;
  $avatarDimension: 120px;
  $avatarColor: rgb(209, 209, 209);
  $paragraphFontSize: 1rem;
  $spaceBetween: 2em;

  $containerWidthMobile: 328px;

  hr {
    width: $containerWidth;
  }

  .blog-section {
    margin-inline: auto;
    margin-block: 52px;
    width: $containerWidth;

    .blog-container {
      display: flex;
      gap: $spaceBetween;
      padding-block: $spaceBetween;

      .avatar-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 10px;

        .posted-date {
          opacity: 0.5;
        }
        .avatar {
          background-color: $avatarColor;
          width: $avatarDimension;
          height: $avatarDimension;
        }
      }

      .blog-content {
        font-size: $paragraphFontSize;
      }
    }
  }
  @media (max-width: 50em) {
    hr {
      width: $containerWidthMobile;
    }
    .blog-section {
      width: $containerWidthMobile;

      .blog-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
</style>
