---
import MainLayout from "./MainLayout.astro";
import Header from "../components/Header.astro";
import Comic from "../components/Comic.astro";
import Blog from "@components/Blog.astro";

const { frontmatter } = Astro.props;
---

<MainLayout>
  <Comic
    title={frontmatter.title}
    publishDate={frontmatter.publishDate}
    url={frontmatter.image.url}
    alt={frontmatter.image.alt}
    description={frontmatter.description}
  />
  <section class='blog-section'>
    <hr />
    <div class='blog-container'>
      <div class='avatar-and-date'>
        <div class='avatar'></div>
        <span class='posted-date'>Posted: 01/27/2023</span>
      </div>
      <div class='blog-content'>
        <slot />
      </div>
    </div>
    <hr />
  </section>
</MainLayout>

<style lang='scss'>
  :root {
    --container-width: 600px;
  }

  hr {
    width: var(--container-width);
  }

  .blog-section {
    margin-top: 52px;
    margin-inline: auto;
    margin-bottom: 68px;
    width: var(--container-width);

    .blog-container {
      display: flex;
      gap: 2em;
      padding-block: 2rem;

      .avatar-and-date {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 10px;

        .posted-date {
          opacity: 0.5;
        }
        .avatar {
          --avatar-dimension: 120px;

          background-color: rgb(181, 181, 181);
          width: var(--avatar-dimension);
          height: var(--avatar-dimension);
        }
      }

      .blog-content {
        color: #222;
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 50em) {
    :root {
      --container-width-mobile: 328px;
    }

    hr {
      width: var(--container-width-mobile);
    }
    .blog-section {
      width: var(--container-width-mobile);
      .blog-container {
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }
    }
  }
</style>
